/* Header Top */

.HeaderTopWrapper {
    height: 40px;
    background-color: var(--primary-color);
    position: relative;
}

.HeaderTop {
    grid-template-columns: repeat(2, 1fr);
    gap: 500px;
}

.HeaderTopLeft,
.HeaderTopRight {
    height: 40px;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
}

.HeaderTopLeftText {
    color: var(--white-color);
    font-size: 18px;
}

.SocialMediaLink {
    text-decoration: none;
    height: 25px;
    width: 25px;
}

.SocialMediaSvg {
    color: var(--white-color);
    transition: var(--transition);
}

.SocialMediaSvg:hover {
    color: var(--accent-color);
}

.PhoneSVG,
.EmailSVG {
    stroke: var(--primary-color);
    fill: var(--white-color);
}

.HeaderTopRightPhoneText,
.HeaderTopRightEmailText {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
}

/* Nevigation Bar */

.HeaderNevigation {
    height: 80px;
    position: relative;
}

.HeaderNevigationLogoImage {
    height: 50px;
}

.ChevronDownSVG {
    stroke: var(--primary-color);
    fill: var(--primary-color);
    transition: var(--transition);
}

.HeaderNevigationListItem,
.SubMenuListItem {
    list-style: none;
    position: relative;
}

.SubMenu {
    position: absolute;
    margin-left: 50px;
    z-index: 1;
    display: none;
}

.SubMenuListItem {
    padding: 5px 20px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.SubMenuListItemLink {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    transition: var(--transition);
}

.SubMenuListItem:hover {
    background-color: var(--accent-color);
}

.SubMenuListItem:hover .SubMenuListItemLink {
    color: var(--primary-color);
}

.HeaderNevigationLink {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    transition: var(--transition);
}

.HeaderNevigationLink:hover {
    color: var(--accent-color);
}

.HeaderNevigationLink:hover .ChevronDownSVG {
    stroke: var(--accent-color);
    fill: var(--accent-color);
}

.HeaderNevigationListItem:hover .SubMenu {
    display: block;
}

.HeaderNevigationListItem:hover .ChevronDownSVG {
    transform: rotate(180deg);
}

.IconWrapper {
    height: 25px;
    width: 25px;
}

.SearchSVG {
    stroke: var(--primary-color);
    position: relative;
}

.CartCount {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: -45px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 13px;
}

/* Hero Section */

.HeroSectionWrapper {
    position: relative;
    height: 500px;
    background-color: var(--primary-color);
    margin-top: 80px;
}

.HeroSection {
    grid-template-columns: repeat(2, 50%);
    gap: 50px;
}

.HeroText {
    flex: 1;
}

.HeroTextHeading {
    color: var(--white-color);
    font-size: 50px;
}

.HeroTextParagraph {
    color: var(--white-color);
    font-size: 18px;
}

.ExploreMoreWrapper {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: var(--transition);
}

.ExploreMoreWrapper:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.HeroImages {
    flex: 1;
}

.HeroImages {
    height: 400px;
    width: 400px;
}

.HeroImagesImages {
    height: 400px;
    width: 400px;
}

/* Bestsellers */

.BestSellerHeading {
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}

.BestSellerWrapper {

    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.BestSellerItem {
    height: 530px;
    padding: 10px;
    border-radius: 13px;
    transition: var(--transition);
}

.BestSellerItem:hover {
    transform: translateY(-15px);
}

.BestSellerItemLink {
    text-decoration: none;
}

.BestSellerItemImage {
    height: auto;
    object-fit: cover;
    border-radius: 13px;
    background-color: var(--primary-color);
}

.ProductImage {
    object-fit: cover;
    border-radius: 13px;
}

.BestSellerTag {
    color: var(--secondary-color);
    font-size: 18px;
    display: block;
}

.BestSellerItemName {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
    transition: var(--transition);
    text-decoration: none;
    font-weight: bold;
}

.BestSellerItemPrice {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}

.ProductWeight {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.ProductWeightactive {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.lucide-star {
    stroke: var(--primary-color);
    height: 18px;
    width: 18px;
    transition: var(--transition);
}

.ProductOrderButton {
    height: 40px;
    width: 150px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    transition: var(--transition);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
}

.ProductOrderButton:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Wrok Section */

.WorkSectionWrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}