/* Header Top */

.HeaderTopWrapper {
    height: 40px;
    background-color: var(--primary-color);
    position: relative;
}

.HeaderTop {
    grid-template-columns: repeat(2, 1fr);
    gap: 500px;
}

.HeaderTopLeft,
.HeaderTopRight {
    height: 40px;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
}

.HeaderTopLeftText {
    color: var(--white-color);
    font-size: 18px;
}

.SocialMediaLink {
    text-decoration: none;
    height: 25px;
    width: 25px;
}

.SocialMediaSvg {
    color: var(--white-color);
    transition: var(--transition);
}

.SocialMediaSvg:hover {
    color: var(--accent-color);
}

.PhoneSVG,
.EmailSVG {
    stroke: var(--primary-color);
    fill: var(--white-color);
}

.HeaderTopRightPhoneText,
.HeaderTopRightEmailText {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
}

/* Nevigation Bar */

.HeaderNevigationWrapper {
    background-color: var(--white-color);
}

.HeaderNevigation {
    height: 80px;
    position: relative;
}

.HeaderNevigationLogoImage {
    height: 50px;
}

.ChevronDownSVG {
    stroke: var(--primary-color);
    fill: var(--primary-color);
    transition: var(--transition);
}

.HeaderNevigationListItem,
.SubMenuListItem {
    list-style: none;
    position: relative;
}

.SubMenu {
    position: absolute;
    margin-left: 50px;
    z-index: 1;
    display: none;
}

.SubMenuListItem {
    padding: 5px 20px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.SubMenuListItemLink {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    transition: var(--transition);
}

.SubMenuListItem:hover {
    background-color: var(--accent-color);
}

.SubMenuListItem:hover .SubMenuListItemLink {
    color: var(--primary-color);
}

.HeaderNevigationLink {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    transition: var(--transition);
}

.HeaderNevigationLink:hover {
    color: var(--accent-color);
}

.HeaderNevigationLink:hover .ChevronDownSVG {
    stroke: var(--accent-color);
    fill: var(--accent-color);
}

.HeaderNevigationListItem:hover .SubMenu {
    display: block;
}

.HeaderNevigationListItem:hover .ChevronDownSVG {
    transform: rotate(180deg);
}

.IconWrapper {
    height: 25px;
    width: 25px;
}

.SearchSVG {
    stroke: var(--primary-color);
    position: relative;
}

.CartCount {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: -45px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 13px;
}

/* Hero Section */

.HeroSectionWrapper {
    position: relative;
    height: 500px;
    background-color: var(--primary-color);
    margin-top: 80px;
}

.HeroSection {
    grid-template-columns: repeat(2, 50%);
    gap: 50px;
}

.HeroText {
    flex: 1;
}

.HeroTextHeading {
    color: var(--white-color);
    font-size: 50px;
}

.HeroTextParagraph {
    color: var(--white-color);
    font-size: 18px;
}

.ExploreMoreWrapper {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: var(--transition);
}

.ExploreMoreWrapper:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.HeroImages {
    flex: 1;
}

.HeroImages {
    height: 400px;
    width: 400px;
}

.HeroImagesImages {
    height: 400px;
    width: 400px;
}

/* Bestsellers */

.BestSellerHeading {
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}

.BestSellerWrapper {

    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.BestSellerItem {
    height: 530px;
    padding: 10px;
    border-radius: 13px;
    transition: var(--transition);
}

.BestSellerItem:hover {
    transform: translateY(-15px);
}

.BestSellerItemLink {
    text-decoration: none;
}

.BestSellerItemImage {
    height: auto;
    object-fit: cover;
    border-radius: 13px;
    background-color: var(--primary-color);
}

.ProductImage {
    object-fit: cover;
    border-radius: 13px;
}

.BestSellerTag {
    color: var(--secondary-color);
    font-size: 18px;
    display: block;
}

.BestSellerItemName {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
    transition: var(--transition);
    text-decoration: none;
    font-weight: bold;
}

.BestSellerItemPrice {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}

.ProductWeight {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
}

.ProductWeightactive {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.lucide-star {
    stroke: var(--primary-color);
    height: 18px;
    width: 18px;
    transition: var(--transition);
}

.ProductOrderButton {
    height: 40px;
    width: 150px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    transition: var(--transition);
    color: var(--white-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
}

.ProductOrderButton:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Wrok Section */

.WorkSectionWrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.WorkSectionItem {
    height: 200px;
    border-radius: 13px;
    transition: var(--transition);
}

.WeokSectionImageWrapper {
    height: 150px
}

.WrokSectionImage {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 13px;
    filter: brightness(0) saturate(100%) invert(24%) sepia(12%) saturate(6954%) hue-rotate(260deg) brightness(93%) contrast(96%);
}

.WorkSectionItemText {
    color: var(--primary-color);
    font-size: 20px;
    display: block;
    text-align: center;
}

/* Text Section */

.TextSectionWrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.TextSectionItem {
    height: 100px;
    gap: 20px;
    border: 1px solid var(--primary-color);
    padding: 0px 15px;
    border-radius: 8px;
}

.TextSectionItemImageWrapper {
    height: 80px;
    width: 80px;
    border: 1px solid var(--primary-color);
    object-fit: contain;
    background-color: var(--primary-color);
    border-radius: 50%;
}


.TextSectionItemImage {
    height: 70px;
    width: 70px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(67%) saturate(0%) hue-rotate(213deg) brightness(105%) contrast(101%);
}

.TextSectionItemTextHeading {
    color: var(--primary-color);
    font-size: 20px;
    display: block;
    font-weight: 600;
}

.TextSectionItemTextParagraph {
    color: var(--primary-color);
    font-size: 16px;
    display: block;
}

.lucide-book,
.lucide-heart,
.lucide-circle-dollar-sign {
    stroke: var(--primary-color);
    height: 36px;
    width: 36px;
}


/* Blog Section */

.BlogSectionWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.BlogSectionItem {
    height: 450px;
    border-radius: 8px;
    transition: var(--transition);
    padding: 10px;

}

.BlogImagesWrapper {
    height: 300px;
    background-color: var(--primary-color);
    border-radius: 13px;
}

.BlogImages {
    height: 300px;
    object-fit: cover;
    border-radius: 13px;
}

.BlogTitle,
.SubBlogTitle {
    color: var(--primary-color);
    font-size: 24px;
    display: block;
    font-weight: 600;
}

.BlogDescription,
.BlogDate,
.SubBlogDescription,
.SubBlogDate {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}

.BlogSectionItem {
    grid-template-rows: repeat(3, 1fr);
}

.SubBlog {
    padding: 10px;
    border-radius: 8px;
}

.SubBlogImageWrapper {
    height: 110px;
    width: 110px;
    background-color: var(--primary-color);
    border-radius: 13px;
}

.SubBlogImage {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 13px;
}

/* Location Section */

.LocationSectionWrapper {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.LocationImageWrapper {
    height: 400px;
}

.LocationImage {
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 60px;
}

.LocationTextHeading {
    color: var(--primary-color);
    font-size: 40px;
}

.LocationTextParagraph {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}

.LocationTextSubHeading {
    color: var(--primary-color);
    font-size: 24px;
    display: block;
    font-weight: 600;
}

.Location {
    height: 30px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 3px;
    color: var(--white-color);
}

.Location:focus {
    outline: none;
}

.LocationCountainerWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: absolute;
    background-color: var(--white-color);
    z-index: 1;
    height: 90px;
    bottom: 0;
    transform: translateX(48%);
    border-top-left-radius: 8px;
}

.LocationCountainer:not(:last-child) {
    border-right: 2px solid var(--primary-color);
}

.LocationCount {
    font-size: 30px;
    color: var(--primary-color);
}

.LocationCountText {
    font-size: 20px;
}

/* Testimonial Section */

.TestimonialWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.TestimonialItem {
    height: 250px;
    border-radius: 8px;
    padding: 11px;
    transition: var(--transition);
    border: 3px solid var(--primary-color);
    background-color: var(--white-color);
}

.User {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.TestimonialName {
    color: var(--primary-color);
    font-size: 24px;
    display: block;
    font-weight: 600;
}

.TestimonialDate {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}



.lucide-star-filled {
    height: 18px;
    width: 18px;
    stroke: var(--primary-color);
    fill: var(--primary-color);
}

.TestimonialParagraph {
    color: var(--primary-color);
    font-size: 18px;
    display: block;
}

/* Newsletter */

.NewsLetterWrapper {
    height: 100px;
    background-color: var(--accent-color);
}

.NewsLetterHeading {
    color: var(--primary-color);
    font-size: 40px;
}

.NewsLetterSpan {
    color: red;
    font-weight: 800;
}

.NewsLetterInput {
    height: 50px;
    width: 400px;
    border-radius: 8px;
    border: none;
    padding: 0px 20px;
    font-size: 20px;
}

.NewsLetterButton {
    height: 50px;
    width: 150px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}




/* Footer */

.FooterWrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    background-color: var(--white-color);
}

.FooterLogo {
    width: 250px;
    object-fit: contain;
}


.FooterHeading {
    color: var(--primary-color);
    font-size: 34px;
    display: block;
    font-weight: 200;
    margin-bottom: 20px;
}

.FooterProductsListItem {
    list-style: none;
}

.FooterLink {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
    transition: var(--transition);
}

.FooterLink:hover {
    color: var(--primary-color);
}

.SocialMediaLink {
    text-decoration: none;
}

.lucide-facebook1,
.lucide-instagram1,
.lucide-youtube1 {
    color: var(--secondary-color);
    height: 30px;
    width: 40px;
    transition: var(--transition);
}


.SocialMediaLink:hover .lucide-facebook1,
.SocialMediaLink:hover .lucide-instagram1,
.SocialMediaLink:hover .lucide-youtube1 {
    color: var(--primary-color);
}

.FooterSocialText {
    color: var(--secondary-color);
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
}

.FooterBottom {
    height: 40px;
    background-color: var(--primary-color);
}

.FooterBottomText {
    color: var(--white-color);
    font-size: 18px;
    display: block;
    font-weight: 200;
    text-align: center;
    padding-top: 10px;
}